<html>
	<head><title>form test</title></head>
	<link rel='stylesheet' type='text/css' href='{{url_for("static",filename="globlestyle.css")}}'>
	<!--<script type='text/javascript' src='{{url_for("static",filename="globlescript.js")}}'></script>-->
	<body>
		<p>Welcome {{session['name']}}</p>
		<p>you've been here {{session['hits']}} times!</p>
		<!--<p>(number of hits={{g}})</p>-->
		<form action='/reg' method='post'>
			<input type=submit value='register'>
		</form>
		<form action='/hitsinc' method='post'>
			<input type=submit value='increment'>
		</form>
		<form action='/hitsreset' method='post'>
			<input type=submit value='reset'>
		</form>


	</body>
</html>
